/photochooser/photochooser.iml
/CityListLibrary/build
/CityListLibrary/CityListLibrary.iml
/cityListDemo/build
/cityListDemo/cityListDemo.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/*.iml
/.idea
/app/*.iml
